*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
padding: 0rem 2rem;
}
body{
    position: relative;
}
img{
max-width: 100%;
}
nav{
    border-top: 1px solid #33333394;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 44px;
    background-color: #fff;
  
}
nav .container{
    position: relative;
}

.circle-nav{
    position: absolute;
    left: 41%;
    top: -97%;
    border-left: none;
    border-right: none;
}
.circle-nav {
    width: 80px;
    height: 80px;
    border: 1px solid #33333394;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: none;
    border-top-left-radius: none;
    border-top-right-radius: none;

}


.circle-nav-icon{
    width: 50px;
    height: 50px;
     border-radius: 50%;
     background-color: #03256C;
     display: flex;
     justify-content: center;
     align-items: center;
}
.circle-nav-icon span{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}


.nav-icons span i {
    color: #33333336;
    font-size: 20px;
}

.nav-icons span.active i{
    color: #03256C;
}
.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   gap:10px;
   position: relative;
   margin-top: -65px;
}
.img-cover{
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
}
.circle{
    height: 159px;
    width: 160px;
    border-radius: 164%;
    position: absolute;
    bottom: top;
    top: 24%;
    left: 30%;
    background: #fff;
    z-index: 10;
  


}
@media (min-width:575px) {
    .circle{
        left: 45%;
    }
}

@media (max-width:320px) {
    .circle{
      

        left: 25%;
        top: 18%;
    }
}

.profile-img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: 1px solid  #03256C;
  z-index: 20;
}

.profile-name{
    font-size: 16px;
    color:  #03256C;;
    font-weight: 600;

}
.profile-work,.profile-location{
    font-size: 10px;
    color: #33333394;
}

.follow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.follow-info p{
color:  #03256C;
font-weight: 600;
font-size: 14px;

}
.follow-info span{
    font-size: 10px;
    color: #33333394;
}

.btn-edit ,.btn-add{
    background-color: #03256C;
    border: none;
    border-radius: 8px;
    padding:10px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.profile-media-header{
display: flex;
justify-content: space-around;
margin: 20px 0px;
position: relative;
padding: 5px;
}
.profile-media-header::after{
    content: '';
    height: 1px;
    background-color: #9e9e9ea1;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.media-header{
    color: #9e9e9ea1;
    font-size: 14px;
}
.active{
    color: #03256C;
}

.profile-media-photo {
    display: flex;
    flex-wrap: wrap;
}

.media-photo {
    flex-basis: calc(33.33% - 20px);
    margin: 5px;
    max-width: 100%;
    width: 100px;
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
}




  .menuToggle{
    width:50px;
    height:50px;
    background:#ff4886;
    border-radius:50%;
    display:flex;
      justify-content:center;
    align-items:center;
    z-index:10;
  transform: translateY(-30px); 
  left: 42%;
  position: absolute;
  }
  
  .menuToggle::before{
    content:'+';
      position:absolute;
    color:#fff;
    font-size:2rem;
    transition:1.5s;
    
  }

  .menu {
    background: #fff;
    border-radius: 70px;
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    align-items: center;
  }

  .menu i{
    color: #33333394;
  }

  .menu i.active{
    color: #03256C;
  }